main, h1{ 
  padding: 1em;
  color : orangered
}

p {
  color : orangered
}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 15px;
  box-shadow : 10px 5px 5px gray;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  list-style-type : none;

}
header li{
  list-style-type : none;
}

footer{
  border: thin solid black;
}
